@charset "utf-8";
/*Omar Assaf*/




/* Hidden Objects */
nav.horizontal,
aside,
footer {
   display: none;
}


/* Page Box Styles */
@page {
   size: 8.5in 11in;
   width: 100%;
}


/* Header Styles */

body>header {
   text-align: right;
}

body>header>img {
   display: block;
   width: 100%;
}


/* Typography Styles */
h1 {
   font-size: 28pt;
   line-height: 30pt;
   margin: 0.3in 0in 0.2in;
}


/* Hypertext Styles */
a {
   color: black;
   text-decoration: none;

}

a::after {
   content: "(" attr(href)")";
   font-weight: bold;
   word-wrap: break-word;
}


/* Page Break Styles */
article:nth-of-type(n+2) {
   page-break-before: always;
}

img,
ol,
ul {
   page-break-inside: avoid;
}

p {
   orphans: 3;
   widows: 3;
}